# Discord
DISCORD_TOKEN=YOUR_DISCORD_BOT_TOKEN
CLIENT_ID=123456789012345678

# MongoDB
MONGO_URI=mongodb://localhost:27017/mxrp

# Redis
REDIS_URL=redis://localhost
REDIS_PORT=6379
REDIS_USERNAME=
REDIS_PASSWORD=
